{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">


        <h3>{{ page_heading_2 }}</h3>

        <form method="{{ method }}" action="{{ action }}">
            <fieldset>
                <legend>User details</legend>
                <br>
                <label for="username">Enter your name:</label>
                <input id="username" name="username" type="text" value="{{ tainted_parameters['username'] ?? '' }}" size="30" maxlength="50">
                <br><br>
                <label for="userage">Enter your age:</label>
                <input id="userage" name="userage" type="text" value="{{ tainted_parameters['userage'] ?? '' }}" size="5" maxlength="5">
                <br><br>
                <label for="password">Enter your password:</label>
                <input id="password" name="password" type="password" value="{{ tainted_parameters['password'] ?? '' }}" size="30" maxlength="50">
                <br><br>
                <label for="email">Enter your email:</label>
                <input id="email" name="email" type="text" value="{{ tainted_parameters['email'] ?? '' }}" size="30" maxlength="50">
                <br><br>
                <input type="submit" value="Create user account >>>">
            </fieldset>
        </form>
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
    </div>
{% endblock %}
